<ul class="nav nav-pills">
    <li role="presentation">
            <a> General</a>
    </li>
    <li role="presentation">
            <a> Financiar</a>
    </li>
    <li role="presentation">
            <a>Documente</a>
    </li>
    <li role="presentation">
            <a>Task</a>
    </li>
    <li role="presentation" class="active">
            <a>Istoric</a>
    </li>
    <li role="presentation">
            <a> Alerte</a>
    </li>
</ul>

<button (click)="navigateOnParentGen()">General</button>
<button (click)="navigateOnParentDoc()">Document</button>
<button (click)="navigateOnParentTask()">Task</button>
<button (click)="navigateOnParentAlert()">Alerte</button>
<button (click)="navigateOnParentHist()">Istoric</button>
<button (click)="navigateOnParentFin()">Financiar</button>
