<ul class="nav nav-pills">
        <li role="presentation" >
                <a routerLink="/contract-general"> General</a>
        </li>
        <li role="presentation" >
                <a routerLink="/contract-financial"> Financiar</a>
        </li>
        <li role="presentation">
                <a routerLink="/contract-documents">Documente</a>
        </li>
        <li role="presentation">
                <a routerLink="/contract-tasks">Task</a>
        </li>
        <li role="presentation" class="active">
                <a routerLink="/contract-history">Istoric</a>
        </li>
        <li role="presentation">
                <a routerLink="/contract-alerts"> Alerte</a>
        </li>
</ul>