
<br> 

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="PartnerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Partner </mat-header-cell>
    <mat-cell *matCellDef="let element"><a style="color:rgb(0, 0, 0);" routerLink="contract-general" > {{element.PartnerName}} </a> </mat-cell> 
    </ng-container>

    <ng-container matColumnDef="NrContract">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nr. </mat-header-cell>
    <mat-cell *matCellDef="let element"> <a style="color:rgb(0, 0, 0);" routerLink="contract-general">{{element.NrContract}} </a></mat-cell> 
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="ContractType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tip Contract </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ContractType}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ContrDataStart">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data Start </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ContrDataStart}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    
    <ng-container matColumnDef="ContrResponsible">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Responsabil Contract </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ContrResponsible}}  </mat-cell>
    </ng-container>
 
    <ng-container matColumnDef="ContrDataFinal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>  Data Final </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ContrDataFinal}}  </mat-cell>
    </ng-container>

     
    <ng-container matColumnDef="Currency">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Moneda </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Currency}}  </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = $event">
  </mat-paginator>

  
  <!-- <div *ngIf="pageEvent">
    <h5>Page Change Event Properties</h5>
    <div>List length: {{pageEvent.length}}</div>
    <div>Page size: {{pageEvent.pageSize}}</div>
    <div>Page index: {{pageEvent.pageIndex}}</div>
  </div> -->

