<!-- <div>
        <h1>ngx-modialog demo - version 4.x.x</h1>
        <h2>{{name}}</h2>
        <button (click)="onClick()">Alert</button>
</div> -->
<form>
   <h4 style="padding-left: 20px"> Date Generale Contract </h4>
        <hr class="half-rule">

    <table style="width: 100%" cellspacing="20">
        <tr>
                <mat-form-field>
                        <mat-select placeholder="Tip Contract">
                          <mat-option value="option">Furnizor</mat-option>
                          <mat-option value="option">Client</mat-option>
                        </mat-select>
                </mat-form-field> 
        </tr>    
        
        <tr>
                <mat-form-field>
                    <input matInput placeholder="Numar Contract">
                </mat-form-field>
            </tr>
            <tr>
                    <mat-form-field>
                            <mat-select placeholder="Partener">
                              <mat-option value="option1">Partener 1</mat-option>
                              <mat-option value="option2">Client 1</mat-option>
                              <mat-option value="option3">Persoana 2</mat-option>
                            </mat-select>
                    </mat-form-field> 
            </tr>
            <tr>
                    <mat-form-field>
                            <mat-select placeholder="Stare Document">
                              <mat-option value="option1">Draft</mat-option>
                              <mat-option value="option2">Validated</mat-option>
                              <mat-option value="option3">Canceled</mat-option>
                            </mat-select>
                    </mat-form-field> 
            </tr>
    </table>
    <p>

  
</form>

<mat-form-field class="example-full-width">
        <input matInput  [matDatepicker]="picker" placeholder="Choose a date" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      