<ul class="nav nav-pills">
    <li role="presentation">
            <a   (click)="navigateOnParentGen()"> General</a>
    </li>
    <li role="presentation" class="active">
            <a   (click)="navigateOnParentFin()"> Financiar</a>
    </li>
    <li role="presentation">
        <a   (click)="navigateOnParentDoc()">Documente</a>
    </li>
    <li role="presentation">
            <a   (click)="navigateOnParentTask()">Task</a>
    </li>
    <li role="presentation">
            <a   (click)="navigateOnParentHist()">Istoric</a>
    </li>
    <li role="presentation">
            <a   (click)="navigateOnParentAlert()">  Alerte</a>
    </li>
</ul>

