
.InputBorder {
  border-style: groove;
}

.mat-grid-tile .mat-figure { justify-content: left !important; }


.InputSpecial {
  
  width: 100%;
 }
 .input:focus {
  outline: none !important;
  box-shadow: 1 0 20px rgb(6, 100, 194);
}


.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(0, 0, 0);
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(0, 0, 0);
}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(0, 0, 0, 0.26);
}


.VerticalLine {
  border-right: 80px solid rgb(255, 255, 255);
  /* border-left: 40px solid rgb(255, 255, 255);; */

}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}