<ul class="nav nav-pills">
        <li role="presentation" class="active">
                <a routerLink="/contract-list/contract-general"> General</a>
        </li>
        <li role="presentation">
                <a routerLink="/contract-list/contract-financial"> Financiar</a>
        </li>
        <li role="presentation">
                <a routerLink="/contract-list/contract-documents">Documente</a>
        </li>
        <li role="presentation">
                <a routerLink="/contract-list/contract-tasks">Task</a>
        </li>
        <li role="presentation">
                <a routerLink="/contract-list/contract-history">Istoric</a>
        </li>
        <li role="presentation">
                <a routerLink="/contract-list/contract-alerts"> Alerte</a>
        </li>
</ul>

<div>

        <mat-grid-list cols="12" rowHeight="3:1">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Partener
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="2">
                        <mat-select>
                                <mat-option *ngFor="let partner of PartenerName" [value]="partner.value">
                                        {{ partner.viewValue }}
                                </mat-option>
                        </mat-select>
                </mat-grid-tile>

                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Categorie
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="2">
                        <mat-select>
                                <mat-option *ngFor="let category of ContractCategory" [value]="category.value">
                                        {{ category.viewValue }}
                                </mat-option>
                        </mat-select>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Tip
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="1">
                        <mat-select>
                                <mat-option *ngFor="let type of ContractType" [value]="type.value">
                                        {{ type.viewValue }}
                                </mat-option>
                        </mat-select>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Departament
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="2">
                        <mat-select>
                                <mat-option *ngFor="let department of ContractDepartment" [value]="department.value">
                                        {{ department.viewValue }}
                                </mat-option>
                        </mat-select>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Numar
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="2">
                        <input type="text" class="InputSpecial">
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Responsabil
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="2">
                        <input type="text" class="InputSpecial">
                </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Cod
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="2">
                        <input type="text" class="InputSpecial">
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Tip Chelt/Venit
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="2">
                        <mat-select>
                                <mat-option *ngFor="let plline of PLLine" [value]="plline.value">
                                        {{ plline.viewValue }}
                                </mat-option>
                        </mat-select>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="2:1">

                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile colspan="4">
                        <mat-form-field class="VerticalLine">
                                <input matInput [matDatepicker]="picker01" placeholder="Data semnare">
                                <mat-datepicker-toggle matSuffix [for]="picker01"></mat-datepicker-toggle>
                                <mat-datepicker #picker01></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="VerticalLine">
                                <input matInput [matDatepicker]="picker03" placeholder="Durata">
                                <mat-datepicker-toggle matSuffix [for]="picker03"></mat-datepicker-toggle>
                                <mat-datepicker #picker03></mat-datepicker>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile> Prelungire A
                </mat-grid-tile>
                <mat-grid-tile>
                        <section class="example-section">
                                <mat-radio-group [(ngModel)]="align">
                                        <mat-radio-button class="example-margin" value="Da">Da</mat-radio-button>
                                        <mat-radio-button class="example-margin" value="Nu">Nu</mat-radio-button>
                                </mat-radio-group>
                        </section>
                </mat-grid-tile>


        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>



        <mat-grid-list cols="12" rowHeight="2:1">

                <mat-grid-tile class="LabelLeft">
                </mat-grid-tile>
                <mat-grid-tile colspan="4">

                        <mat-form-field class="VerticalLine">
                                <input matInput [matDatepicker]="picker04" placeholder="Data Start  ">
                                <mat-datepicker-toggle matSuffix [for]="picker04"></mat-datepicker-toggle>
                                <mat-datepicker #picker04></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="VerticalLine">
                                <input matInput [matDatepicker]="picker02" placeholder="Data Final  ">
                                <mat-datepicker-toggle matSuffix [for]="picker02"></mat-datepicker-toggle>
                                <mat-datepicker #picker02></mat-datepicker>
                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                        <mat-form-field class="VerticalLine">
                                <input matInput [matDatepicker]="picker06" placeholder="Data Notificare  ">
                                <mat-datepicker-toggle matSuffix [for]="picker06"></mat-datepicker-toggle>
                                <mat-datepicker #picker06></mat-datepicker>

                        </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                        Nr. zile Notif.
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                        <input type="text" class="InputSpecial">
                </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Stare
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="1">
                        <mat-select>
                                <mat-option *ngFor="let type of StateContract" [value]="type.value">
                                        {{ type.viewValue }}
                                </mat-option>
                        </mat-select>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Status
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="1">
                        <mat-select>
                                <mat-option *ngFor="let type of StatusContract" [value]="type.value">
                                        {{ type.viewValue }}
                                </mat-option>
                        </mat-select>
                </mat-grid-tile>

                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Centru Cost
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="1">
                        <mat-select>
                                <mat-option *ngFor="let type of StateContract" [value]="type.value">
                                        {{ type.viewValue }}
                                </mat-option>
                        </mat-select>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Linie CF
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="1">
                        <mat-select>
                                <mat-option *ngFor="let type of StatusContract" [value]="type.value">
                                        {{ type.viewValue }}
                                </mat-option>
                        </mat-select>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="2:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Denumire
                </mat-grid-tile>
                <mat-grid-tile colspan="4">
                        <mat-form-field>
                                <mat-form-field>
                                        <textarea matInput></textarea>
                                </mat-form-field>
                        </mat-form-field>
                </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile colspan="1">
                </mat-grid-tile>
                <mat-grid-tile colspan="1">

                </mat-grid-tile>
                <mat-grid-tile colspan="4">
                        Notificari :
                </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Adresa
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="3">
                        <input type="text" class="InputSpecial">
                </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Tel/Fax
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="2">
                        <input type="text" class="InputSpecial">
                </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        Email
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="3">

                        <input type="text" class="InputSpecial">


                </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="5:1">
                <mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile class="LabelLeft">
                        In atentia
                </mat-grid-tile>
                <mat-grid-tile class="InputBorder" colspan="3">
                        <input type="text" class="InputSpecial">
                </mat-grid-tile>
        </mat-grid-list>
        <hr>


</div>