@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.center {
  margin-top:50px;   
}

.modal-header {
padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}
  
.modal-footer .btn-group button {
height:40px;
border-top-left-radius : 0;
border-top-right-radius : 0;
border: none;
border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
border-right: 0;
}